<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapuna.com.succotash">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/headphones"
        android:label="@string/app_name"
        android:roundIcon="@drawable/headphones"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.musiclist_activity" />
        <activity android:name=".activities.musicplayer" />
        <activity
            android:name=".activities.ExitActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:autoRemoveFromRecents="true"/>

        <service android:name=".MyService" />
        <receiver android:name=".receiver.SleepTimerReceiver" />
        <receiver android:name=".receiver.NotificationReciever" />


    </application>

</manifest>